<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idol</title>
</head>
<body class="tab">
    <h1>Vehiculos Existentes:</h1>
    <br>
    <table border="1px">
        <thead>
            <tr>
                <th>ID</th>
                <th>Vehiculo</th>
                <th>Color</th>
                <th>Modelo</th>
                <th>Referencia</th>
                <th>Descripcion</th>
                <th>Estado</th>
                <th>Observaciones</th>
                <th>Imagen</th>
                <th>Propietario</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let coche of registro">
                <td>{{ coche._id }}</td>
                <td>{{ coche.Vehiculo }}</td>
                <td>{{ coche.Color }}</td>
                <td>{{ coche.Modelo }}</td>
                <td>{{ coche.referencia }}</td>
                <td>{{ coche.Descripcion }}</td>
                <td>{{ coche.Estado }}</td>
                <td>{{ coche.observacion }}</td>
                <td><img src="{{ coche.imagen }}" alt="car" width="200px" height="150px"></td>
                <td>{{ coche.propietario }}</td> <!-- Ya se debería haber convertido en el nombre del propietario -->
            </tr>
        </tbody>
    </table>
    <a href="#">
        <button>Volver al inicio</button>
    </a>
    <button (click)="irAEliminarVehiculo()">Eliminar Vehículo</button>
</body>
</html>
