<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Idol</title>
</head>
<body>
<div>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Vehiculo</th>
                <th>Color</th>
                <th>Modelo</th>
                <th>Referencia</th>
                <th>Descripcion</th>
                <th>imagen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let coche of registro" class="datos">
                <td class="dato">{{coche._id}}</td>
                <td class="dato">{{coche.Vehiculo}}</td>
                <td class="dato">{{coche.Color}}</td>
                <td class="dato">{{coche.Modelo}}</td>
                <td class="dato">{{coche.referencia}}</td>
                <td class="dato">{{coche.Descripcion}}</td>
                <td><img src="{{coche.imagen}}" alt="car" width="70px" height="70px"></td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
