.v{
    border-radius: 2cm;
    background-color: #229954;
    border: #229954;
    color: white;
}
.e{
    
    border-radius: 2cm;
    background-color: #229954;
    border: #229954;
    color: white;
}
body{
    background-color: white;
    margin-top: 2cm;
    margin-left: 5cm;
    margin-right: 5cm;
    margin-bottom: 3cm;
    border-radius: 1cm;
    padding-bottom: 5cm;
    text-align: center;
    padding-top: 3cm;
}
.imp{
    padding: 10px;
    width: 600px;
    border-radius: 2cm;
    background-color: rgb(226, 226, 226);
    border: white;
}