.Ingresar{
    margin-left: 8.5cm;
    margin-top: 3cm;
    padding-top: 3%;
    padding-bottom: 5%;
    width: 150px;
    height: 30px;
    border-radius: 2cm;
    background-color: #229954;
    border: #229954;
    color: white;
}
.text{
    text-align: center;
    font-size: 50px;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
    margin-top: 3cm;
    margin-right: 5cm;
    margin-left: 5cm;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    border-radius: 1cm;
}