<body class="forms">
<h1 class="agregar">Agregar Nuevo Propietario</h1>
<form (ngSubmit)="onSubmit()" #propietarioForm="ngForm">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre" [(ngModel)]="propietario.Nombre" required>
  <br>
  <label for="direccion">Dirección:</label>
  <input type="text" id="direccion" name="direccion" [(ngModel)]="propietario.Direccion" required>
  <br>
  <label for="telefono">Teléfono:</label>
  <input type="text" id="telefono" name="telefono" [(ngModel)]="propietario.Telefono" required>
  <br>
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" [(ngModel)]="propietario.Email" required>
  <button type="submit" class="guardar">Guardar Propietario</button>
</form>
<button (click)="omitirRegistro()">Omitir Registro</button>
</body>